BODY
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt
}
TD
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt
}
.topblueheader
{
    BACKGROUND-COLOR: #1e397c
}
.topheader
{
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-IMAGE: url(../images/top_background.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y
}
.topmenu
{
    BACKGROUND-COLOR: #21397d
}
.lateralback
{
    BACKGROUND-COLOR: #f7f7ef
}
.relievedark
{
    BACKGROUND-COLOR: #cccccc
}
.relievelight
{
    BACKGROUND-COLOR: #ffffff
}
.relievedarken
{
    BACKGROUND-COLOR: #607ba0
}
.menuoptions
{
    BACKGROUND-COLOR: #e0e0e0;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal
}
.tablebill
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.tablebillb
{
    BACKGROUND-COLOR: #dfded7;
    BACKGROUND-IMAGE: url(../images/fondocelda_bill.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, sans-serif helvetica, impact;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: left
}
.tablefunds
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablefunds2
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 0px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablefundsb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_funds.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tableaccount
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tableaccountb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_acc.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tableservices
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tableservicesb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_serv.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablemaintenance
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.tablemaintenanceb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_main.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablesignoff
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablesignoffb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_sign.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablehelp
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.tablehelpb
{
    BACKGROUND-COLOR: #eebc5e;
    BACKGROUND-IMAGE: url(../images/fondocelda_help.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.topassets
{
    BACKGROUND-COLOR: #000099;
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.topliabilities
{
    BACKGROUND-COLOR: #dbaa49;
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y;
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
.toptitle
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #8e8e8c 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000099;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}

.toptitleInside
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000099;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center 
}

.toptitleInsideLeft
{
    PADDING-BOTTOM: 1px;    
    PADDING-TOP: 1px;
    TEXT-ALIGN: left !important;  
}

.toptitleInsideRight
{
    PADDING-BOTTOM: 1px;    
    PADDING-TOP: 1px;   
    TEXT-ALIGN: right !important; 
}

.toptitleError
{
    BACKGROUND-COLOR: #00007D !important;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #FF0000;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
}


.logintitle
{
    BACKGROUND-COLOR: #dfded7;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center
}
.contentA1
{
    BACKGROUND-COLOR: #eeeeee;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA1b
{
    BACKGROUND-COLOR: #eeeeee;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA2
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA2b
{
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-STYLE: normal
}
.contentA3
{
    BACKGROUND-COLOR: #d8d8d8;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA3b
{
    BACKGROUND-COLOR: #d8d8d8;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA4
{
    BACKGROUND-COLOR: #eeeeee;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.contentA4b
{
    BACKGROUND-COLOR: #eeeeee;
    BORDER-BOTTOM: #8e8e8c 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}
.bordegeneral
{
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: #1c476a 1px solid;
    BORDER-RIGHT: #1c476a 1px solid;
    BORDER-TOP: #1c476a 1px solid
}
.bordebottom
{
    BORDER-BOTTOM: #17496a 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid
}
.bordebottom2
{
    BORDER-BOTTOM: #8e8e8c 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid
}
.borderright
{
    BORDER-BOTTOM: black 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: #1d4568 1px solid;
    BORDER-TOP: black 0px solid
}
.fondo
{
    BACKGROUND-COLOR: #829dc2;
    BACKGROUND-IMAGE: url(../images/fondocelda_01.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y
}
.fondoCopy
{
    BACKGROUND-COLOR: #dbaa49;
    BACKGROUND-IMAGE: url(../images/fondocelda_02.html);
    BACKGROUND-REPEAT: repeat-y
}
.fondo2
{
    BACKGROUND-IMAGE: url(../images/top_background.html);
    BACKGROUND-POSITION: left 50%;
    BACKGROUND-REPEAT: repeat-y
}
A.menu:link
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.menu:visited
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.menu:active
{
    COLOR: #000000
}
A.menu:hover
{
}
#sinRB
{
    BORDER-BOTTOM: medium none;
    BORDER-RIGHT: medium none
}
#sinR
{
    BORDER-RIGHT: medium none
}
#sinB
{
    BORDER-BOTTOM: medium none
}
#conB
{
    BORDER-BOTTOM: #1c476a 1px solid;
    BORDER-LEFT: #1c476a 0px solid;
    BORDER-RIGHT: #1c476a 0px solid;
    BORDER-TOP: #1c476a 0px solid
}
.textomenuleft
{
    COLOR: #666666;
    FONT-FAMILY: verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -1px;
    TEXT-DECORATION: none
}
.tituloppal
{
    BORDER-BOTTOM: #000099 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #000099;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 16px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.subtituloppal
{
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.subtitles
{
    BORDER-BOTTOM: #cc9933 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.acctlink
{
    COLOR: #000099
}
.certifiedLink
{
    COLOR: #000099
}
.menuup
{
    COLOR: #000099;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.menuup:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.plainInput
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none
}
.subButton {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  font-size: 0pt;
}
.lockedText
{
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: none;
    TEXT-DECORATION: none;
}
.requerido_on
{
    BACKGROUND-COLOR: white;
    BACKGROUND-IMAGE: url(../images/requerido_on.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    COLOR: white;
}
.requerido_off
{
    BACKGROUND-COLOR: white;
    BACKGROUND-IMAGE: url(../images/requerido_off.gif);
    BACKGROUND-POSITION: center center;
    BACKGROUND-REPEAT: no-repeat;
    COLOR: white;
}
.textoCobro
{
    COLOR: #000099;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.menufunds {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LETTER-SPACING: -0.1mm; BACKGROUND-COLOR: #6284b3; TEXT-DECORATION: none
}
.menufunds_sub {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LETTER-SPACING: -0.1mm; BACKGROUND-COLOR: #000099; TEXT-DECORATION: none
}
.menufunds_nolink {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LETTER-SPACING: -0.1mm; BACKGROUND-COLOR: #6284b3; TEXT-DECORATION: none
}

A.menufunds:hover {
	COLOR: #F7DC00
}
A.menufunds_sub:hover {
	COLOR: #F7DC00
}
.tdBold
{
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
.acctlink2
{
    COLOR: #000099
}

th.titulo_cell, th.titulo_cell a{
	background-color:#dfdfd7;
	padding-top:4px;
	padding-bottom:4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	border-color:#718b9e #718b9e #718b9e #718b9e ;
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
}

.cell_izquierda{
	background-color:#eeeeee;
	border-left-color:#7c93a5;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:none;
	color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:2px;
	text-align:left;
}
.cell_izquierdaB{
	background-color:#ffffff;
	border-left-color:#7c93a5;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:none;
	color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:2px;
	text-align:left;
}
.form_derecha{
	background-color:#eeeeee;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:2px;
	text-align:Right;
}
.form_derechaB{
	background-color:#ffffff;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:2px;
	text-align:Rigth;
}
.textoFeeInq
{
    COLOR: #0000FF;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
}

.subtitle_gen_blue{
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:13px;
	color:#000080;
	font-weight:bold;
	text-align:left;
}

.phrase_login{
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#000080;
	font-weight:bold;
	text-align:left;
}
