<div class="item-header">
	{{ item.title }}			
</div>
	
<div class="item-content">
	<span data-ng-init="screenshots = fromJson(item.screenshot);"></span>
	<img data-ng-src="{{ screenshots[0] }}" />
</div>
		
<div class="item-footer">    		
	<div class="item-footer-upper none-buynow row-fluid">
	   	<span class="item-footer-left">{{ item.price |  currency:"$"}} <sub>Price</sub></span>
    	<span class="item-footer-right"></span>    	
	</div>
	
	<div class="item-footer-lower">
		<span class="item-footer-right">
			<button class="btn btn-primary" ng-click="cart.addToCart(item.item_id);">Buynow</button>
    		<a href="#/app/{{ item.alias }}" class="btn rbinstaller-item-viewdetail" ng-click="updateFullView(item.item_id, false);find_last_item_block(item.item_id);">Details</a>
    	</span>
	</div>
</div>