BODY {
	font-family : Arial, Verdana, sans-serif;
	font-size:11px;
	padding-left:00px;
	padding-right:00px;
	}
/* Div de contenido*/
.contenido {
margin: 15px 20px 10px 20px;  
/*border:1px solid #888888;*/
/*background: #33CCFF; */
width=100%;	
}

/*Divs para la página de inicio y footer*/
.initPage{
min-height: 470px !important;
height: auto !important;
margin: 0 auto -4em;
height: 95%;
}
.footerInitPage, .push {
height: 4em;
margin: 15px 20px 10px 20px;
}

/* navegación*/
.logo{
	background:url(../images/logo_Bancolombia.html) no-repeat left;
	width:137px;
	height:41px;
	padding-bottom:18px;
	padding-top:18px;
}
/*Imagen header propaganda*/
.img{
	background:url(../images/54px.gif) no-repeat left;
	width:54px;
	height:54px;
}
/*linea header*/
.lin_header{
	background-color:#000080;
	font-size:0px;
	height:1px;
}
.title_header_sup{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	color:#7C97BC;
	padding-right:5px;
	vertical-align:bottom;
}
a.link_header{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#003366;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:2px;
	padding-top:2px;
	text-decoration:none;
	text-align:right;
}
a.link_header_salir{
	background-color:#000080;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
}
/*Flujo de tareas*/
.navegacion_activo{
	background-color:#000080;
	font-size:2px;
	height:3px;
}
.navegacion_inactivo{
	background-color:#000080;
	font-size:2px;
	height:3px;
	padding-right:11px;
}

.navegacion_text_activo{
	font-family:Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color:#000000;
	padding-top:3px;
	border-top:solid #000080 3px;
}
.navegacion_text_inactivo{
	font-family:Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#c0c0c0;
	padding-top:3px;
	border-top:solid #000080 3px;
}
a.navegacion_text_link{
	text-decoration:none;
	color:#c0c0c0;
	text-decoration:underline;
	}
.navegacion_pendiente{
	background-color:#c0c0c0;
	font-size:2px;
	height:3px;
}
.navegacion_text_pendiente{
	font-family:Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#c0c0c0;
	padding-top:3px;
	border-top:solid #c0c0c0 3px;
}
/*fin navegacion*/

/* funcionalidad header contenido*/

.header_title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding-top:11px;
	vertical-align:bottom;
	color:#000080;
}

.header_subtitle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	padding-top:11px;
	vertical-align:bottom;
	color:#14559c;
}
/* indentificador user*/
.header_ident_user_title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-top:3px;
	padding-bottom:3px;
	color:#000000;
}
/* indentificador Nombre user*/
.header_ident_user{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:3px;
	padding-bottom:3px;
	color:#000000;
	font-weight:bold;
}
/* fecha*/
.header_fecha{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-right:5px;
	color:#000000;
}
.header_ip_comp{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:5px;
	color:#000000;
}
.header_interli_fecha{
	line-height: 1.2;
	text-align:right;
}
/* Descripción de la operación */
.header_descrip_operacion{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:5px;
	color:#000000;
}
/*--footer--*/
.footer_td{
color:#0000FF;
font-size:11px;
padding-right:8px;
}
a.footer{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#0000FF;
padding-left:8px;
padding-right:8px;
}
.powered_by{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#0000FF;
text-align:right;
}


/*-- text aprobación / err--*/
.text_ok{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:none
	}
/*--text error aplicación--*/
.text_err_aplicacion{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	padding-left:2px;
	}
.borde_err_app{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000080;
	background-color: #ffffff;
	padding:10px;
	font-weight:bold;
	text-align:left;
	
}
/* icono de err - aprov */
td.ico_msg{
text-align:center;
vertical-align:top;
	}

/* icono de err - aprov */
td.ico{
text-align:left;
vertical-align:top;
padding-right:10px;
	}
/*---texto error recuperable-*/
.text_err{
	font-family:Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	padding-left:2px;
}
.err_validation{
	font-family:Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
	font-weight:bold;
	padding-left:2px;
}
/*tablas y contenido*/
.tablas{
	border-color:#000033 #000033 #000033 #000033;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
	background-color: #ffffff;
}
.totales{
	border-color:#000033 #000033 #000033 #000033;
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 1px;
	background-color:#ececec;
}
th.titulo_cell, th.titulo_cell a{
	background-color:#00007d;
	padding-top:3px;
	padding-bottom:3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
.cell_uppercase{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
	text-align:left;
	text-transform:uppercase;
}
.cell_centro{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	text-align:center;
}
.cell_izq{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
	text-align:left;
}
.cell_derecha{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:5px;
	text-align:right;
}
.cell_centro_err{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FF0000;
	padding-top:3px;
	padding-bottom:3px;
	text-align:center;
}
.cell_izquierda_err{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FF0000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
	text-align:left;
}
.cell_derecha_err{
	background-color:#FFFFFF;
	border-left-color:#000033;
	border-left-style:solid;
	border-left-width:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FF0000;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:5px;
	text-align:right;
}

.cellText_centro{
	border: 1px solid black;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}
.cellText_izq{
	border: 1px solid black;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
	text-align:left;
}
.cellText_derecha{
	border: 1px solid black;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:right;
}
.cellText_derecha_default{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:right;
}
.cellTextInactive_centro{
	border: 1px solid silver;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}
.cellTextInactive_izq{
	border: 1px solid silver;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:2px;
	text-align:left;
}
.cellTextInactive_derecha{
	border: 1px solid silver;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:right;
}

/*link  color azul*/
.link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0000FF;
	font-size:8pt;
	font-weight:bold;
}

/*link color azul sin negrilla, utilizado para los links en leyendas*/
.text_link{
	color:#0000FF;
	text-decoration: underline;
}

/* botones*/
.fboton, .botonbusca {
	border:1px;
	border-bottom-color:#000000;
	background: #7c97bc;
	font-family: Tahoma, Verdana, "Trebuchet MS";
	font-size: 11px;
	font-weight: none;
	height: 16px;
	color: #BBBBBB;
	padding-bottom:3px;
}
.fboton {
	background:url(../images/fon_button.gif) repeat-x left;
	color: #ffffff;
	font-weight: none;
}
.botonbusca {
	border: 0px none;
}
/*comboBox*/
.combo{
	border:#FF0000;
	background-color:#FF0000;
	border-style:solid;
}
/*--  burbuja de ayuda --*/
.globe_header{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#FFF;
}
.globe_cont{
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#000;
	text-align:left;
}
/*--Para las etiquetas de los valores de un form--*/
td.label{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:18px;
}

td.labelDisabled{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:"#7F7F7F";
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:18px;
}

td.labelLeft{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:18px;
}
td.labelLeftRed{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:18px;
	color:red;
}

/*--Para etiqueta de la paginación del banco--*/
td.paginacion{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:18px;
	padding-left:18px;			
}
/*Para la separación entre los botones*/
td.buttonpadding{
	padding-right:9px;
	padding-left:9px;
}

/*-- Para los datos a la derecha de un formulario --*/
td.field input.error, select.error, td.field textarea.error{
	border: 1px solid red;
}

td.field{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	vertical-align:middle;
}

.mito{
vertical-align:middle;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}

/*-- Pintar labels de los campos --*/

.lblred {
	color: red;
}

/*--Deshabilitar campo--*/
input.ronly{
	color: #B1B1B1;
}


/* Para presentar lo llenado en formulario */
.text_form_right{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	text-align:left;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:9px;
	color:#000000;
	
}
.text_form_left{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11pt;
	font-weight:bold;
	text-align:right;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:0px;
	color:#000000;
}

td.toperror{	
  margin:5px;
  padding:0 3px 0 9px;
  color:red;
  font: bold 11px tahoma, arial, helvetica, sans-serif ;
}
label.lerror {
	color: red;
}

/*Icono de ayudas*/
.ico_err {
margin-left:10px;
margin-right:10px;
border:0;
}
.ico_err_table {
margin-left:0px;
margin-right:0px;
border:0;
}

/*Para seleccionador de grupos que tiene dos select*/
select.comboselect {
	display: block;
	width: 310px;
	margin-bottom: 10px;
	padding: 0;
}

/* tablas con ordenamiento */
table.tablesorter {	
    /*agregado del css general*/
	border-color:#000033 #000033 #000033 #000033;
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
	background-color: #ffffff;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th{	
	background-color:#00007d;
	padding: 3px 16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;	
}
table.tablesorter thead tr th a {
	color:#FFF;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#EEEEEE;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #00007d;
}

/*tablas sin ordenamiento con lineas zebra */
table.zebra {
	
	border-color:#000033 #000033 #000033 #000033;
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
	background-color: #ffffff;
}
table.zebra thead tr th, table.zebra tfoot tr th {
	text-align:center;
	background-color:#00007d;
	padding-top:1px;
	padding-bottom:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
table.zebra tr.even td { background-color:#FFF; }
table.zebra tr.odd td { 
  background-color:#EEEEEE; 
}

/*tablas sin ordenamiento con lineas zebra estructurado manual*/
table.zebraManual {

 	border-color:#000033 #000033 #000033 #000033;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	background-color: #ffffff;
}
.zebraManualHead {
	text-align:center;
	background-color:#00007d;
	padding-top:1px;
	padding-bottom:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}
tr.zebraManualTR1 { background-color:#EEEEEE;
border-right-width: 1px;
border-style: solid;}
tr.zebraManualTR2 { background-color:#FFF;
border-right-width: 1px;
border-style: solid;}

table.zebraManual tr.even td { background-color:#FFF; }
table.zebraManual tr.odd td {
  background-color:#EEEEEE;
}

.zebraManualTD {
	border-color:#000033 #000033 #000033 #000033;
    border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;}

.sinbordeTD {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;}
	
td.tableMargin{
	width:100px;
}
/*tabla sin borde */
table.noBorder {
	
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;
	background-color: #ffffff;
}
table.noBorder thead tr th, table.noBorder tfoot tr th {
	text-align:center;
	background-color:#00007d;
	padding-top:0px;
	padding-bottom:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	height:24px;
}
.contentTotal
{
    BACKGROUND-COLOR: #eeeeee !important;
    BORDER-BOTTOM: black 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 1px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}

.contentTotalIzq
{
    BACKGROUND-COLOR: #eeeeee !important;
    BORDER-BOTTOM: black 0px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 1px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal
}

.contentTotalNegrita
{
    BACKGROUND-COLOR: #eeeeee !important;
    BORDER-BOTTOM: black 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 1px solid;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold
}
/*globos alertas azul*/
.m-tl {
	width:6px;
	height:5px;
	background:url(../images/m-tl.gif) no-repeat left top;
}
.m-tr {
	width:6px;
	height:5px;
	background:url(../images/m-tr.gif) no-repeat right top;
}
/*globos alertas rojo*/
.m-tlr {
	width:6px;
	height:5px;
	background:url(../images/m-tlr.gif) no-repeat left top;
}
.m-trr {
	width:6px;
	height:5px;
	background:url(../images/m-trr.gif) no-repeat right top;
}
.textoSinborde{
	border:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-align:left;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:2px;
	color:#000000;
}
.lockedTextMrtg
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	text-align:right;
}

.lockedTextMrtgLeft
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	text-align:left;
}

td.Feeinq {

 	border: 1px solid #a4a4a4;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	padding-top:8px;
	padding-bottom:7px;
	padding-left:2px;
	padding-right:2px;
	background-color: #eaeaea;
}

.textoConborde{
	background-color: #EEEEEE;
	border-color:#A3A3A3;
	border-style:solid;
	border-width:1px;
}